@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.w-100{
    width: 100vw;
}
.pink{
    background-color: #febfcc;
}
body {
    font-family: "Baloo Bhaina 2", sans-serif;
    margin: 0;
    padding: 0;
}
.btn{
    font-size: 1rem;
    font-weight: 200;
    padding: 15px 50px;
    border-radius: 4.5vh;
    cursor:pointer;
}
.navbar
{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}
.nav-section
{
    position: relative;
    height: 96px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-logo img
{
    height: 100px;
}
.nav-section-one
{
    height: 100%;
    width: 20%;
    margin-right: 20%;
}
.nav-section-two{
    position: sticky;
    z-index:100;
    top: 10px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.nav-items{
    width: 60%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}
.nav-items li{
    margin: 0 10px;
}
.nav-items li a{
    text-decoration: none;
    color: black;
}
.nav-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bar-svg{
    display: flex;
    height: 47px;
    width: 51px;
    border: 2px solid #00a274;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.btn-signin{
    margin-top: 0;
    margin-right: 2vw;
    color: white;
    background-color: rgba(0, 112, 80, 1);
}
.btn-signin:hover{
    background-color: transparent;
    color: #007050;
    border: 2px solid #007050;
}
.nav-items-vertical{
    height: 0;
    background-color: rgb(249,241,230);
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: height 2s;
}
.nav-list{
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.nav-item-vertical{
    margin: 5px 0;
}
.nav-item-vertical a{
    color: #00a274;
    text-decoration: none;
}
.res-button-section{
    display: none;
}
/**SignIn Modal style**/
.modal-content{
    background: linear-gradient(90deg, #dcf0ea 70%,#d58998 30%);
    color: #007050;
}
.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-field{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-field .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-control{
    outline: none;
    background-color: rgb(249,241,230);
}
.input-field .icon{
    height: 38px;
    width: 30px;
    color: rgb(235, 24, 59);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-container input:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/**main-content**/
.main-content {
    width: 100%;
    height:100%;
    margin-top: 20px;
}
.banner
{
    display: flex;
    width:100%;
    height: 800px;
}
.banner-text
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text-content h1{
    line-height: 120%;
    font-size: 3.5rem;
    margin-bottom: 1%;
    color: #00a274;
}
.banner-text-content p{
    font-size: 1.4rem;
    line-height: 150%;
    margin-top: 0;
}
.banner-image{
    background-color: #febfcc;
}
.banner-image img
{
    width:50vw;
    height: 100vh;
}
.banner-buttons{
    display: flex;
}
.btn-demo{
    color: white;
    background-color: rgba(1, 34, 65, 1);
}
.btn-demo:hover{
    color: #012241;
    background-color: #afd6f9;
    border: 2px solid #012241;
}
.btn-signup{
    background-color: transparent;
    margin-right: 2vw;
    color: #012241;
    border: 1px solid #012241;
}
.btn-signup:hover{
    background-color:#afd6f9;
    border: 1px solid #012241;
}
.overlap-and-curved{
    background-color: rgb(249,241,230);
}
.overlap-section{
    position: relative;
    height: 410px;
}
.ov-img{
    position: absolute;
    border-radius: 40px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ov-img img{
    height: 80%;
    width: 80%;
}
.img-1{
    background-color: white;
    top: -20px;
    left:300px;
    z-index: 1;
}
.img-2{
    background-color: rgb(223, 236, 248);
    top: 95px;
    left: 450px;
    z-index: 2;
}
.img-3{
    background-color: rgb(197, 177, 177);
    top: 220px;
    left: 600px;
    z-index: 3;
}
.curved-section{
    background-color: rgba(1,34,65,1);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.curved-section-content{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curved-section-content h1{
    font-size: 2.7rem;
    margin-bottom: 0px;
}
.curved-section-content p{
    width: 90vw;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    line-height: 120%;
}
.feature-and-test{
    background-color: #007050;
}
.feature-section{
    background-color: rgb(249,241,230);
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.features{
    display: flex;
    justify-content: space-evenly;
    margin: 15vh auto;
    height: 40vh;
    width: 70vw;
    border-radius: 20px;
}
.feature-odd{
    background-color: #febfcc;
    color: #007050;
}
.feature-even{
    flex-direction: row-reverse;
    background-color: #007050;
    color:  white;
}
.feature-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature-heading{
    font-size: 2rem;
    margin-bottom: 0;
}
.feature-desc{
    font-size: 1rem;
    text-align: center;
}
.feature-image{
    border-radius: 20px;
    position: relative;
    top: -5vh;
    background: white;
    height: 50vh;
    width: 25vw;
    margin: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-image img{
    height: 80%;
    width: 80%;
}
.testimonial-section{
    background-color: #007050;
    color: white;
    height: 60vh;
}
.test-head{
    text-align: center;
}
.testimonial{
    background-color: white;
    color: #00a274;
    border-radius: 10vh;
    width: 60vw;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.test-image{
    margin-left: 3vw;
    border-radius: 50%;
    height: 95px;
    width:130px;
    background-image: url("testimonial-image.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}
.test-content{
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test-auth{
    font-size: 1.5rem;
    margin-top: 0;
}
.test-desc{
    margin-bottom: 0;
}
.test-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#test-b1{
    background-color: silver;
}
.test-btn{
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
    margin: 3vw 0.5vw;
}
.post-section{
    background-color: rgb(249,241,230);
    height: 50vh;
    padding: 50px 10px;
}
.post-head{
    text-align: center;
    color: black;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    height: 20vh;
    width: 60vw;
    margin: auto;
}
.posts h2{
    margin-bottom: 0;
}
.posts p{
    margin-top: 0;
}
.post-and-links{
    background-color: rgb(249,241,230);
}
.links{
    background-color: #012241;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 100px 0;
}
.link-sec{
    margin-top: 20vh;
    width: 15vw;
}
.link-sec ul{
    padding: 0;
}
.link-sec ul li{
    list-style-type: none;
}
.link-sec ul li a{
    text-decoration: none;
    color: white;
}
.comp-logo{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.comp-info img{
    height: 100%;
    width: 100%;
}
.app-head{
    margin-bottom: 0;
}
.app-image{
    margin-top: 0;
    padding-top: 0;
    height: 70px;
    width: 200px;
    background: url("app-image.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    border-radius: 10px;
    background-size: contain;
}
.icons{
    margin-top: 100px;
    display: flex;
}
.icon{
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    height: 40px;
}
footer{
    height: 70px;
    background-color: rgb(249,241,230);
    color: #00a274;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
#signupNotModal .modal-heading{
    font-size: 1rem;
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**Media Queries**/
@media only screen and (max-width: 1350px){
    .app-image{
        width: 159px;
    }
    .icon{
        width: 41px;
        height:39px;
    }
    .link-sec{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .comp-info{
        display: none;
    }
}
@media only screen and (max-width: 1298px) {
    .banner-text-content h1{
      font-size: 2.5rem;
    }
    .banner-text-content p{
        font-size: 1.3rem;
      }
      .test-image{
        display: none;
      }
  }
  @media only screen and (max-width: 1124px) {
    .banner{
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
    .banner-text{
        width: 100%;
        height: 80vh;
    }
    .banner-text h1{
        font-size: 3rem;
        text-align: center;
    }
    .banner-text p{
        font-size: 1.3rem;
        text-align: center;
    }
    .banner-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-image img{
        height: 50vh;
        width: auto;
    }
    .banner-buttons{
        justify-content: center;
    }
    .curved-section-content h1{
        font-size: 2.5rem;
    }
    .curved-section-content p{
        font-size: 1.5rem;
    }
}
  @media only screen and (max-width: 862px)
  {
    .test-auth{
        display: none;
    }
    .img-1{
        left: 100px;
    }
    .img-2{
        left: 200px;
    }
    .img-3{
        left: 300px;
    }
  }
  @media only screen and (max-width: 940px) {
    .nav-buttons{
        display: none;
    }
    .navbar{
        position: relative;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }
    .nav-logo{
        margin-left: 50px;
    }
    .nav-section-one{
        margin-right: 0;
    }
    .nav-section{
        width: 100%;
        margin-top: 15px;
        height: 50%;
        justify-content: space-between;
    }
    .nav-section-two{
        width: 351px;
        height: 68px;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
    }
    .res-button-section{
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #febfcc;
        border-top: 2px solid #febfcc;
        width: 100%;
    }
    .banner-text-content{
        margin-top: 50px;
    }
    .banner-buttons .btn-signup{
        margin-top: 0;
        display: none;
    }
    .btn-signup{
        margin-right: 9vw;
    }
    .features{
        width: 75vw;
    }
    .feature-image{
        margin: 0 3vw;
    }
    .test-btn{
        height: 15px;
    }
  }
  @media only screen and (max-width: 847px) {
    .nav-items li{
        margin: 0 10px;
    }
  }
  @media only screen and (max-width: 787px) {
    .curved-section-content h1{
        font-size: 2rem;
    }
    .curved-section-content p{
        font-size: 1rem;
    }
    .feature-heading{
        font-size: 1.5rem;
    }
    .feature-desc{
        font-size: 1rem;
    }
  }
  @media only screen and (max-width: 630px)
  {
    .nav-items{
        display:none;
    }
    .nav-section-two{
        width: 70px;
        justify-content: center;
        box-shadow: none;
    }
    .bar-svg{
        display: flex;
    }
    .testimonial{
        flex-direction: column;
    }
    .test-image{
        display: block;
        width: 59px;
        height: 56px;
    }
    .test-desc{
        display: none;
    }
    .test-auth{
        display: block;
        font-size: 1rem;
    }
    .icons{
        display: none;
    }
  }
  @media only screen and (max-width: 597px){
    .curved-section-content h1{
        font-size: 1.5rem;
    }
    .curved-section-content p{
        font-size: 1rem;
    }
    .posts h1{
        font-size: 1rem;
    }
    .posts p{
        font-size: 0.85rem;
    }
  }
  @media only screen and (max-width: 555px){
    .nav-section-two{
        height: 40px;
        width: 40px;
    }
    .nav-logo{
        margin-left: 20px;
    }
    .bar-svg{
        height: 35px;
        width: 35px;
    }
    .bar-svg svg{
        width: 25px;
    }
    .banner-text-content h1{
        font-size: 2rem;
    }
    .banner-text-content p{
        font-size: 1rem;
    }
    .feature-image{
        display: none;
    }
    .feature-desc{
        margin: 20px;
    }
    .ov-img{
        height: 150px;
        width: 150px;
    }
    .overlap-section{
        height: 35vh;
    }
    .img-1{
        left: 100px;
    }
    .img-2{

        top: 50px;
        left: 150px;
    }
    .img-3{
        top: 120px;
        left: 200px;
    }
    .testimonial{
        width: 70vw;
    }
    .test-image{
        display: none;
    }
    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app-image{
        width: 48px;
        height: 51px;
        background-size: cover;
        border-radius: 50%;
        background-position: 10px 0;
        background-color: white;
    }
  }
  @media only screen and (max-width: 520px){
    .curved-section-content p{
        margin: 0 20px;
    }
    .link-sec{
        font-size: 1rem;
    }
    .link-sec h2{
        font-size: 1.25rem;
    }
  }
  @media only screen and (max-width: 490px){
    .link-sec{
        font-size: 1rem;
    }
    .link-sec h2{
        font-size: 1.25rem;
    }
  }
  @media only screen and (max-width: 469px){
    .testimonial{
        width: 80vw;
    }
    .posts{
        width: 80vw;
    }
  }
  @media only screen and (max-width: 443px){
    .curved-section{
        height: 40vh;
    }
    .curved-section h1{
        font-size: 0.9rem;
    }
    .curved-section p{
        font-size: 0.6rem;
    }
    .links{
        justify-content: space-between;
    }
    .link-1{
        margin-left: 25px;
    }
    .link-3{
        margin-right: 25px;
    }
  }
  @media only screen and (max-width: 421px){
    .banner-text p{
        margin: 0 20px;
    }
    .btn-signin{
        padding: 12px 30px;
        margin-right: 20px;
    }
    .btn-signup{
        padding: 12px 30px;
        margin-left: 20px;
    }
    .res-button-section{
        justify-content: space-between;
    }
  }
  @media only screen and (max-width: 380px){
    .features{
        width: 95vw;
    }
    .img-1{
        left: 50px;
    }
    .img-2{
        left: 100px;
    }
    .img-3{
        left: 150px;
    }
  }
